<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>home</title>
</head>
<body>
 <header>
<img src="img/logo-mercado-liebre.svg" alt="">
<input type="text" placeholder="Busqueda..">
<h4>Comprá en cuotas y sin tarjeta de crédito</h4>
<ul>
    <li>
       <a href=""> Ofertas</a>
    </li>
    <li>
     <a href=""> Tiendas Oficiales</a>  
    </li>
    <li>
       <a href="">Vender</a> 
   </li>
    <li>
       <a href="">Ayuda</a> 

    </li>
</ul>

<ul>
    <li>
       <a href="">Creá tu cuenta</a>
    </li>
    <li>
      <a href=""> Ingresá</a> 

    </li>
    <li>
     <a href=""> Mis compras </a>   
    </li>
</ul>
    </header>

    <main  class="container">
        <section>
            <h4>Basado en tu última visita</h4>
            <img src="img/img-cafetera-moulinex.jpg" alt="">
            <span>$6.770</span>
            <p>40%off</p>
            <p>Cafetera Moulinex</p>
            <br>
            <br>
            <br>
            <img src="img/img-macbook-pro-2019.jpg" alt="">
            <span>$230.000</span>
            <p>20%off</p>
            <p>MacBook Pro 2019</p>
            <br>
            <br>
            <br>
            <img src="img/img-samsung-galaxy-s10.jpg" alt="">
            <span>70.500</span>
            <p>10%off</p>
            <p>Samsung Galaxy S10</p>
            <br>
            <br>
            <br>
            <img src="img/img-tv-samsung-smart.jpg" alt="">
            <span>$32.200</span>
            <p>5%off</p>
            <p>SmartTv Samsung 43"</p>



        </section>
        <section>
            <h4>Basado en tu última visita</h4>
            <img src="img/img-cafetera-moulinex.jpg" alt="">
            <span>$6.770</span>
            <p>40%off</p>
            <p>Cafetera Moulinex</p>
            <br>
            <br>
            <br>
            <img src="mg/img-macbook-pro-2019.jpg" alt="">
            <span>$230.000</span>
            <p>20%off</p>
            <p>MacBook Pro 2019</p>
            <br>
            <br>
            <br>
            <img src="img/img-samsung-galaxy-s10.jpg" alt="">
            <span>70.500</span>
            <p>10%off</p>
            <p>Samsung Galaxy S10</p>
            <br>
            <br>
            <br>
            <img src="img/img-tv-samsung-smart.jpg" alt="">
            <span>$32.200</span>
            <p>5%off</p>
            <p>SmartTv Samsung 43"</p> 
        </section>


    </main>

    <footer>

<section>
    <h4>Pagá con tarjeta o en efectivo</h4>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!
    </p>
</section>

<section>
<h4>Envío gratis desde $ 2.500</h4>
<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.
    </p>
</section>
<section>
    <h4>Seguridad, de principio a fin</h4>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.
        </p>
</section>
<section>
   <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</section>

    </footer>
   
</body>
</html>